.container {
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

canvas {
    display: block;
    margin: 0px;
}

#ascii {
    color: black;
    background: white; 
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;

    font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size: 12px;
    line-height: 0.6;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
